<a href="https://colab.research.google.com/github/shamanth1998/DecisionTree/blob/main/Decision_Tree_C5_0_CART.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [13]:
# import some data to play with
iris = pd.read_csv('iris.csv',index_col=0)

In [14]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [15]:
#Complete Iris dataset
label_encoder = preprocessing.LabelEncoder()
iris['Species']= label_encoder.fit_transform(iris['Species'])

In [16]:
x=iris.iloc[:,0:4]
y=iris['Species']

In [17]:
x

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
1             5.1          3.5           1.4          0.2
2             4.9          3.0           1.4          0.2
3             4.7          3.2           1.3          0.2
4             4.6          3.1           1.5          0.2
5             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
146           6.7          3.0           5.2          2.3
147           6.3          2.5           5.0          1.9
148           6.5          3.0           5.2          2.0
149           6.2          3.4           5.4          2.3
150           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [18]:
y

1      0
2      0
3      0
4      0
5      0
      ..
146    2
147    2
148    2
149    2
150    2
Name: Species, Length: 150, dtype: int64

In [19]:
iris['Species'].unique()

array([0, 1, 2])

In [20]:
iris.Species.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [21]:
colnames = list(iris.columns)
colnames

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [22]:
# Splitting data into training and testing data set
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=40)

### Building Decision Tree Classifier using Entropy Criteria

In [23]:
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [26]:
#Predicting on test data
preds = model.predict(x_test) # predicting on test data set 
pd.Series(preds).value_counts() # getting the count of each category

1    13
2     9
0     8
dtype: int64

In [27]:
preds

array([0, 1, 2, 2, 1, 2, 1, 1, 1, 0, 1, 0, 0, 1, 1, 2, 2, 2, 1, 1, 2, 2,
       1, 0, 1, 0, 0, 2, 0, 1])

In [28]:
pd.crosstab(y_test,preds) # getting the 2 way table to understand the correct and wrong predictions

col_0    0   1  2
Species
0        8   0  0
1        0  12  0
2        0   1  9

In [29]:
# Accuracy 
np.mean(preds==y_test)

0.9666666666666667

### Building Decision Tree Classifier (CART) using Gini Criteria

In [30]:
from sklearn.tree import DecisionTreeClassifier
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=3)

In [31]:
model_gini.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [32]:
#Prediction and computing the accuracy
pred=model.predict(x_test)
np.mean(preds==y_test)

0.9666666666666667

#### Decision Tree Regression Example

In [33]:
# Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor

In [34]:
array = iris.values
X = array[:,0:3]
y = array[:,3]

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [36]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

DecisionTreeRegressor()

In [37]:
#Find the accuracy
model.score(X_test,y_test)

0.8806879577380238